body {
    background-color: var(--bg-color);
}

.sidebar{
    background-color: var(--bg-darker);
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding:12px;
    width: 200px;

}

.sidebar__navigation{
    background-color: #121212;
    color: #fff;
    margin-top: 100px;
    border-radius: 8px;
    height: 300px;
    padding:16px 0 0 16px;
}

.spring{
    background-color: var(--bg-darker);
    display: flex;
    border-radius: 14px;
    margin: 0 250px 0 250px;

}
.spring ul{
    list-style-type: none;
}

.spring .profile ul li{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    color: #121212;
    background-color: bisque;
    border: 2px solid #fff;
    margin-right: 50px;
    border-radius: 8px;
    padding: 2px;


}

.profile {
    
    border-radius: 8px;
    display: grid;
 

}

.names ul li {
    display: grid;
    border: 2px solid #fff;
    border-radius: 8px;
    width: 200px;
    padding: 6px 0 6px 0;
    justify-content: center;

}

