body {
    background-color: var(--bg-color);
}

.sidebar{
    background-color: var(--bg-darker);
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding:12px;
    width: 300px;

}

.sidebar__navigation{
    background-color: #121212;
    color: #fff;
    margin-top: 100px;
    border-radius: 8px;
    height: 300px;
    padding:16px 0 0 16px;
}

.spring{
    background-color: var(--bg-darker);
    display: flex;
    border-radius: 14px;
    margin: 0 350px 0 350px;

}
.spring ul{
    list-style-type: none;
}

.spring ul li{
    border: 1px solid #fff;

}

img {
    max-width: 15%;
}